<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/styles/dashboard.css">
</head>

<body class="body-background body-elements">
  <div id="sidebar">
    <img class="signa-logo" src="/images/login-logo.png" alt="SignaPay Logo">
    <div class="first-tab sidebar-tab" data-id="bulk-transaction">Bulk Transactions</div>
    <div class="sidebar-tab" data-id="invalid-transaction">Invalid Transactions</div>
    <div class="sidebar-tab" data-id="individual-information">Individual Information</div>
    <div class="last-sidebar-tab sidebar-tab" data-id="collections">Collections</div>
  </div>
  <div class="main-content">
    <div id="bulk-transaction" class="content-selection">
      <div id="upload-transactions-menu">
        <div id="upload-file-container">
          <span class="upload-transactions-title">Upload Transactions</span>
          <div id="upload-file"><span class="plus">+</span></div>
          <input type="file" id="file-input" class="hidden">
        </div>
      </div>
    </div>

    <div id="invalid-transaction" class="content-selection">
      <span>invalid transaction</span>
    </div>

    <div id="individual-information" class="content-selection">
      <span>individual information</span>
    </div>

    <div id="collections" class="content-selection">
      <span>collections</span>
    </div>
  </div>




  <script src="../static/scripts/dashboard.js" async defer></script>
</body>

</html>